body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /*background-color: rgb(221, 239, 255);*/
    background-image: url("./../assets/m5.png");
    background-size: cover;
    
}

header {
    width: 100%;
    height: 80px;
    padding: 15px 30px;
    
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    
    margin-left: 300px;
    margin-top: 90px;
}

main #pokedex {
    background-color: rgb(59, 56, 65);
    width: 550px;
    height: 500px;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 6px 5px 10px 0px rgb(0, 0, 0);
}

main #pokedex #visor {
    background-color: #9c909a;
    border: 7px solid #000000;
    width: 410px;
    height: 400px;
    margin: 15px auto;
}

main #pokedex .form-floating {
    width: 300px;
    margin: 15px auto 0 auto;
}

main #pokedex button {
    margin-left: 210px;
}

.container-nome {
    text-align: center;
    font-family: "Halant", serif;
}
.container-img{
    
}

.container-altura{
    text-align: center;
    font-family: "Halant", serif;
}

.container-peso{
    text-align: center;
    font-family: "Halant", serif;
}

.container-status{
    text-align: center; 
    font-family: "Halant", serif;
}

